[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atri = "*"
fastapi = "*"
uvicorn = "*"
jsonpickle = "*"
python-multipart = "*"
atri-utils = "*"

[dev-packages]

[requires]
python_version = "3.10"
