[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
fastapi = "==0.84.0"
uvicorn = "*"
jsonpickle = "*"
python-multipart = "*"
atri-utils = "*"
sendgrid = "*"
atri = {version = "*", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.10"
