.p-about.Flex145 {
display: flex;
justify-content: space-around;
align-items: center;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
padding-top: 20px;
padding-bottom: 30px;
}
.p-about.Menu2 {
display: none;
}
.p-about.Flex140 {
display: flex;
}
.p-about.Flex143 {
display: flex;
column-gap: 30px;
}
.p-about.Flex144 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-about.Flex141 {
display: flex;
column-gap: 30px;
}
.p-about.Flex142 {
display: flex;
}
.p-about.Flex146 {
display: flex;
padding-left: ;
padding-right: ;
column-gap: ;
justify-content: space-around;
width: 100%;
box-sizing: border-box;
}
.p-about.Flex147 {
display: flex;
flex-direction: column;
padding-left: ;
padding-top: ;
row-gap: 20px;
width: 70%;
align-items: center;
justify-content: center;
}
.p-about.Flex148 {
display: flex;
width: 30%;
align-items: center;
justify-content: center;
}
.p-about.Flex149 {
display: flex;
padding-left: ;
padding-right: ;
box-sizing: border-box;
}
.p-about.Flex150 {
display: flex;
background-color: #FF7629;
padding-right: 100px;
padding-bottom: 100px;
width: 70%;
justify-content: center;
}
.p-about.Flex152 {
display: flex;
align-items: center;
justify-content: center;
position: relative;
bottom: 50px;
}
.p-about.Flex153 {
display: flex;
column-gap: 40px;
padding-top: 50px;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;
border-radius: 20px;
position: static;
bottom: 50px;
background-color: #ffffff;
border-style: solid;
border-color: #bcbcbc;
z-index: 5;
}
.p-about.Flex154 {
display: flex;
background-color: #FFF9F3;
position: relative;
bottom: 134px;
height: ;
padding-top: 170px;
column-gap: ;
flex-direction: column;
row-gap: 25px;
padding-bottom: 150px;
}
.p-about.Flex157 {
display: flex;
column-gap: 50px;
}
.p-about.Flex155 {
display: flex;
width: 50%;
align-items: center;
justify-content: flex-end;
}
.p-about.Flex156 {
display: flex;
width: 50%;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 20px;
}
.p-about.Flex160 {
display: flex;
column-gap: 50px;
}
.p-about.Flex161 {
display: flex;
width: 50%;
flex-direction: column;
align-items: flex-end;
justify-content: center;
row-gap: 20px;
}
.p-about.Flex164 {
display: inline-flex;
flex-direction: column;
row-gap: 25px;
align-items: flex-start;
justify-content: center;
align-content: flex-end;
flex-wrap: wrap;
}
.p-about.Flex162 {
display: flex;
width: 50%;
align-items: center;
justify-content: flex-start;
}
.p-about.Flex165 {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 20px;
padding-bottom: 100px;
}
.p-about.Flex166 {
display: flex;
column-gap: 25px;
}
.p-about.Flex167 {
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
row-gap: 15px;
}
.p-about.Flex168 {
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
row-gap: 15px;
}
.p-about.Flex169 {
display: flex;
flex-direction: column;
align-items: center;
width: 300px;
row-gap: 15px;
}
.p-about.Flex170 {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 30px;
padding-bottom: 150px;
}
.p-about.Flex171 {
display: flex;
flex-direction: column;
row-gap: 50px;
}
.p-about.Flex172 {
display: flex;
column-gap: 40px;
}
.p-about.Flex173 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex174 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex175 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex180 {
display: flex;
column-gap: 40px;
}
.p-about.Flex177 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex178 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex179 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 250px;
row-gap: 14px;
}
.p-about.Flex187 {
display: flex;
background-color: #FFF9F3;
padding-left: 100px;
padding-right: 100px;
align-items: center;
padding-top: 150px;
flex-direction: column;
padding-bottom: 150px;
}
.p-about.Flex185 {
display: flex;
column-gap: 30px;
}
.p-about.Flex183 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-about.Flex181 {
display: flex;
column-gap: 20px;
}
.p-about.Flex182 {
display: flex;
column-gap: 20px;
}
.p-about.Flex186 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-top: ;
padding-bottom: 30px;
padding-left: ;
}
.p-about.Flex184 {
display: flex;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
border-radius: 35px;
background-color: #FF7629;
}
.p-about.Flex197 {
display: flex;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
padding-bottom: 50px;
justify-content: space-between;
}
.p-about.Flex194 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 20px;
}
.p-about.Flex190 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-about.Flex188 {
display: flex;
column-gap: 20px;
}
.p-about.Flex189 {
display: flex;
column-gap: 20px;
}
.p-about.Flex195 {
display: flex;
}
.p-about.Flex191 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: ;
padding-right: 5px;
}
.p-about.Flex192 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-about.Flex196 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
row-gap: 13px;
width: 40%;
}
.p-about.Flex193 {
display: flex;
column-gap: 10px;
}
.p-about.TextBox151 {
;
}
.p-about.TextBox152 {
;
}
.p-about.TextBox153 {
;
}
.p-about.TextBox154 {
;
}
.p-about.TextBox155 {
;
}
.p-about.Button22 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-about.Button23 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-about.TextBox156 {
cursor: pointer;
}
.p-about.TextBox157 {
cursor: pointer;
}
.p-about.TextBox158 {
cursor: pointer;
}
.p-about.TextBox159 {
cursor: pointer;
}
.p-about.TextBox160 {
cursor: pointer;
}
.p-about.Image80 {
cursor: pointer;
}
.p-about.TextBox161 {
font-family: DM Sans;
font-weight: 700;
font-size: 46px;
width: 55%;
}
.p-about.TextBox162 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #4c4c4c;
width: 55%;
}
.p-about.Image81 {
width: 400px;
border-radius: 50px;
position: relative;
top: 100px;
right: 100px;
}
.p-about.Flex151 {
display: flex;
width: 30%;
position: static;
}
.p-about.Image82 {
width: 600px;
border-radius: 60px;
position: relative;
bottom: 70px;
}
.p-about.TextBox163 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
}
.p-about.Image83 {
;
}
.p-about.Image84 {
;
}
.p-about.Image86 {
;
}
.p-about.Image87 {
;
}
.p-about.Image88 {
width: 530px;
border-radius: 40px;
}
.p-about.TextBox164 {
font-family: DM Sans;
font-weight: 700;
font-size: 36px;
}
.p-about.TextBox165 {
font-family: DM Sans;
font-weight: 500;
color: #585656;
width: 80%;
}
.p-about.TextBox166 {
font-family: DM Sans;
font-weight: 500;
color: #585656;
width: 80%;
}
.p-about.Button24 {
color: #fff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-about.TextBox170 {
font-family: DM Sans;
font-weight: 700;
font-size: 36px;
align-self: auto;
}
.p-about.TextBox171 {
font-family: DM Sans;
font-weight: 500;
color: #585656;
width: 90%;
}
.p-about.TextBox172 {
font-family: DM Sans;
font-weight: 500;
color: #585656;
width: 90%;
}
.p-about.Button26 {
color: #fff;
background-color: #FF7629;
padding-top: 15px;
padding-left: 25px;
padding-bottom: 15px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
align-self: auto;
}
.p-about.Image90 {
width: 530px;
border-radius: 40px;
}
.p-about.TextBox173 {
font-family: DM Sans;
font-weight: 500;
font-size: 32px;
}
.p-about.TextBox175 {
width: 40%;
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #696868;
}
.p-about.Image91 {
width: 300px;
border-radius: 40px;
}
.p-about.TextBox176 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #6e6c6c;
}
.p-about.TextBox177 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-about.TextBox178 {
background-color: ;
color: #FF7629;
font-family: DM Sans;
font-weight: italic;
font-size: 16px;
}
.p-about.TextBox179 {
background-color: ;
color: #FF7629;
font-family: DM Sans;
font-weight: italic;
font-size: 16px;
}
.p-about.TextBox180 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-about.TextBox181 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #6e6c6c;
}
.p-about.Image92 {
width: 300px;
border-radius: 40px;
}
.p-about.TextBox182 {
background-color: ;
color: #FF7629;
font-family: DM Sans;
font-weight: italic;
font-size: 16px;
}
.p-about.TextBox183 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-about.TextBox184 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #6e6c6c;
}
.p-about.Image93 {
width: 300px;
border-radius: 40px;
}
.p-about.TextBox185 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
width: 40%;
text-align: center;
}
.p-about.Image94 {
width: 120px;
}
.p-about.TextBox186 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.TextBox187 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.TextBox188 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.TextBox189 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.Image95 {
width: 120px;
}
.p-about.TextBox190 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.TextBox191 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.Image96 {
width: 120px;
}
.p-about.Image98 {
width: 120px;
}
.p-about.TextBox194 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.TextBox195 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.Image99 {
width: 120px;
}
.p-about.TextBox196 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.TextBox197 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.TextBox198 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-about.TextBox199 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #545353;
}
.p-about.Image100 {
width: 120px;
}
.p-about.Image105 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-about.Image106 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-about.Image101 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image102 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image103 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image104 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.TextBox201 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-about.TextBox200 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #ffffff;
}
.p-about.TextBox218 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-about.Image107 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image108 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image109 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.Image110 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-about.TextBox202 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-about.TextBox203 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox204 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox205 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox206 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox207 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox208 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox209 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox210 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox211 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox212 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox213 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox214 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox215 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox216 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-about.TextBox217 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-about.TextBox219 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-about.Image116 {
;
}
.p-about.Image111 {
width: 30px;
height: 30px;
}
.p-about.Image112 {
width: 30px;
height: 30px;
}
.p-about.Image113 {
width: 30px;
height: 30px;
}
.p-about.Image114 {
width: 30px;
height: 30px;
}
.p-about.Image115 {
width: 30px;
height: 30px;
}
@media screen and (max-width: 991px) {
	.p-about.Menu2.bpt {
display: flex;
	}
	.p-about.Flex140.bpt {
column-gap: 30px;
flex-direction: column;
background-color: #ffffff;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
row-gap: 7px;
z-index: 5;
	}
	.p-about.Flex143.bpt {
display: none;
	}
	.p-about.Flex141.bpt {
column-gap: 30px;
display: none;
	}
	.p-about.Flex145.bpt {
padding-left: 150px;
padding-right: 50px;
box-sizing: border-box;
width: 100%;
justify-content: space-between;
	}
}
@media screen and (max-width: 478px) {
	.p-about.Flex145.bpt {
padding-left: 50px;
	}
}