.p-Home.Flex1 {
display: flex;
justify-content: space-around;
align-items: center;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
padding-top: 20px;
padding-bottom: 30px;
}
.p-Home.Flex2 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-Home.Flex4 {
display: flex;
}
.p-Home.Flex138 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex3 {
display: flex;
column-gap: 30px;
}
.p-Home.Menu1 {
display: none;
}
.p-Home.Flex139 {
display: flex;
}
.p-Home.Flex5 {
display: flex;
}
.p-Home.Flex6 {
display: flex;
flex-direction: column;
font-family: DM Sans;
font-weight: 500;
font-size: 40px;
width: ;
row-gap: 20px;
padding-left: 150px;
padding-right: ;
padding-top: 100px;
flex-grow: 1;
align-items: flex-start;
}
.p-Home.Flex8 {
display: flex;
}
.p-Home.Flex9 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Flex7 {
display: flex;
background-color: #FF7629;
width: ;
}
.p-Home.Flex11 {
display: flex;
justify-content: center;
padding-top: 75px;
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.p-Home.Flex12 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex371 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex373 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex13 {
display: flex;
padding-top: 150px;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-family: DM Sans;
row-gap: 40px;
padding-bottom: 100px;
}
.p-Home.Flex14 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex365 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex15 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex366 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex367 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex21 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex368 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Flex25 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex26 {
display: flex;
background-color: #FFF9F3;
padding-top: 150px;
padding-left: 150px;
padding-right: ;
box-sizing: content-box;
align-items: flex-start;
justify-content: center;
flex-wrap: nowrap;
align-content: stretch;
}
.p-Home.Flex27 {
display: flex;
align-items: center;
padding-bottom: 200px;
padding-left: ;
width: 50%;
box-sizing: content-box;
}
.p-Home.Flex29 {
display: flex;
background-color: #ffffff;
flex-direction: column;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
position: relative;
border-radius: 25px;
row-gap: 20px;
font-family: DM Sans;
font-weight: 500;
top: 200px;
right: 300px;
box-sizing: border-box;
}
.p-Home.Flex30 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex32 {
display: flex;
column-gap: 20px;
width: 300px;
}
.p-Home.Flex35 {
display: flex;
column-gap: 20px;
width: 300px;
}
.p-Home.Flex28 {
display: flex;
flex-grow: 1;
align-items: flex-start;
padding-top: 100px;
flex-direction: column;
padding-left: ;
padding-bottom: ;
padding-right: ;
row-gap: 25px;
width: 50%;
}
.p-Home.Flex37 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex38 {
display: flex;
padding-top: 150px;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex40 {
display: flex;
row-gap: px;
column-gap: 25px;
}
.p-Home.Flex297 {
display: flex;
margin-right: ;
padding-right: ;
column-gap: 20px;
}
.p-Home.Product_Card_1 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex42 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Product_Card_2 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex43 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex298 {
display: flex;
padding-right: ;
column-gap: 20px;
}
.p-Home.Product_Card_3 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex45 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Product_Card_4 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex47 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex57 {
display: flex;
column-gap: 25px;
}
.p-Home.Flex299 {
display: flex;
padding-right: ;
column-gap: 20px;
}
.p-Home.Product_Card_6 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex51 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Product_Card_5 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex52 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex300 {
display: flex;
padding-right: ;
column-gap: 20px;
}
.p-Home.Product_Card_8 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex49 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Product_Card_7 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex50 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-Home.Flex58 {
display: flex;
column-gap: 30px;
justify-content: center;
padding-top: ;
padding-bottom: 200px;
}
.p-Home.Flex59 {
display: flex;
justify-content: flex-start;
align-items: stretch;
}
.p-Home.Flex60 {
display: flex;
flex-direction: column;
width: ;
background-color: #FF7629;
align-items: flex-start;
justify-content: center;
padding-top: 90px;
padding-bottom: 100px;
row-gap: 33px;
padding-left: 150px;
padding-right: ;
box-sizing: border-box;
}
.p-Home.Flex62 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex61 {
display: flex;
width: ;
}
.p-Home.Flex63 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
row-gap: 20px;
}
.p-Home.Flex69 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex89 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Flex64 {
display: flex;
padding-bottom: 40px;
flex-direction: column;
width: 50%;
padding-left: 50px;
padding-top: 50px;
padding-right: 50px;
box-sizing: border-box;
row-gap: 10px;
border-radius: 25px;
border-style: solid;
border-color: #d5d5d5;
}
.p-Home.Flex65 {
display: flex;
padding-bottom: ;
flex-direction: row;
column-gap: 8px;
}
.p-Home.Flex131 {
display: flex;
}
.p-Home.Flex132 {
display: flex;
}
.p-Home.Flex133 {
display: flex;
}
.p-Home.Flex134 {
display: flex;
}
.p-Home.Flex135 {
display: flex;
}
.p-Home.Flex67 {
display: flex;
padding-top: 10px;
column-gap: 25px;
align-items: center;
}
.p-Home.Flex68 {
display: flex;
flex-direction: column;
row-gap: 2px;
}
.p-Home.Flex128 {
display: flex;
}
.p-Home.Flex129 {
display: flex;
}
.p-Home.Flex130 {
display: flex;
}
.p-Home.Flex71 {
display: flex;
padding-top: 150px;
background-color: #FFF9F3;
padding-left: 100px;
padding-right: 100px;
flex-direction: column;
width: 100%;
box-sizing: border-box;
padding-bottom: 100px;
}
.p-Home.Flex72 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-top: ;
padding-bottom: 30px;
box-sizing: content-box;
}
.p-Home.Flex73 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 35px;
background-color: #ffffff;
}
.p-Home.Flex74 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex75 {
display: flex;
width: 50%;
flex-direction: column;
background-color: #fffefe;
row-gap: 10px;
border-radius: 35px;
}
.p-Home.Flex76 {
display: flex;
width: 60%;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex77 {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;
}
.p-Home.Flex81 {
display: flex;
width: 40%;
flex-direction: column;
background-color: #fffefe;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex82 {
display: flex;
width: 40%;
flex-direction: column;
background-color: #fffefe;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
}
.p-Home.Flex85 {
display: flex;
column-gap: 30px;
justify-content: center;
align-items: center;
}
.p-Home.Flex83 {
display: flex;
width: 40%;
flex-direction: column;
background-color: #fffefe;
row-gap: 10px;
border-radius: 35px;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Flex84 {
display: flex;
width: 40%;
flex-direction: column;
background-color: #fffefe;
row-gap: 10px;
border-radius: 35px;
padding-bottom: 20px;
align-items: flex-start;
}
.p-Home.Flex90 {
display: flex;
padding-top: ;
}
.p-Home.Flex91 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
padding-bottom: 100px;
width: 50%;
}
.p-Home.Flex93 {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
column-gap: 25px;
}
.p-Home.Flex94 {
display: flex;
align-items: center;
width: 50%;
column-gap: 19px;
}
.p-Home.Flex95 {
display: flex;
align-items: center;
width: 50%;
column-gap: 21px;
}
.p-Home.Flex92 {
display: flex;
background-color: #FF7629;
align-items: flex-start;
padding-top: 100px;
padding-bottom: 100px;
width: 50%;
}
.p-Home.Flex98 {
display: flex;
background-color: #ffffff;
flex-direction: column;
padding-left: 50px;
padding-right: 50px;
padding-top: 80px;
row-gap: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
margin-bottom: ;
padding-bottom: 30px;
position: relative;
right: 140px;
border-radius: 40px;
border-style: solid;
border-color: #d9d4d4;
}
.p-Home.Flex99 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex100 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex101 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex104 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex102 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex103 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex107 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex106 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex137 {
display: none;
}
.p-Home.Flex110 {
display: flex;
background-color: #FFF9F3;
padding-left: 100px;
padding-right: 100px;
align-items: center;
padding-top: 150px;
flex-direction: column;
padding-bottom: 150px;
}
.p-Home.Flex112 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
padding-top: ;
padding-bottom: 30px;
padding-left: ;
}
.p-Home.Flex111 {
display: flex;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
border-radius: 35px;
background-color: #FF7629;
}
.p-Home.Flex113 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex114 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex115 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex116 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex117 {
display: flex;
padding-top: 100px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
padding-bottom: 50px;
justify-content: space-between;
}
.p-Home.Flex118 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
row-gap: 13px;
width: 40%;
}
.p-Home.Flex121 {
display: flex;
column-gap: 10px;
}
.p-Home.Flex119 {
display: flex;
}
.p-Home.Flex125 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex127 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: ;
padding-right: 5px;
}
.p-Home.Flex120 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 20px;
}
.p-Home.Flex124 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex122 {
display: flex;
column-gap: 20px;
}
.p-Home.Flex123 {
display: flex;
column-gap: 20px;
}
.p-Home.Image2 {
cursor: pointer;
}
.p-Home.TextBox1 {
cursor: pointer;
}
.p-Home.TextBox2 {
cursor: pointer;
}
.p-Home.TextBox3 {
cursor: pointer;
}
.p-Home.TextBox4 {
cursor: pointer;
}
.p-Home.TextBox6 {
cursor: pointer;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button2 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox146 {
;
}
.p-Home.TextBox147 {
;
}
.p-Home.TextBox148 {
;
}
.p-Home.TextBox149 {
;
}
.p-Home.TextBox150 {
;
}
.p-Home.TextBox9 {
font-size: 18px;
color: #757575;
padding-right: ;
width: 70%;
}
.p-Home.Button3 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox7 {
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox8 {
background-color: ;
color: #FF7629;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image5 {
height: ;
width: 400px;
border-radius: 50px;
padding-left: 40px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 40px;
position: relative;
right: 200px;
}
.p-Home.TextBox10 {
;
}
.p-Home.Image6 {
width: 200px;
}
.p-Home.Image10 {
width: 200px;
}
.p-Home.Image197 {
;
}
.p-Home.Image198 {
;
}
.p-Home.TextBox11 {
font-family: DM Sans;
font-weight: 700;
font-size: 25px;
}
.p-Home.Image11 {
;
}
.p-Home.TextBox12 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox13 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox14 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.Image195 {
;
}
.p-Home.TextBox382 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox383 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox384 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox30 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.TextBox31 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox32 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
}
.p-Home.Image17 {
;
}
.p-Home.Image196 {
;
}
.p-Home.TextBox385 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629;
}
.p-Home.TextBox386 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox387 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.Button9 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button10 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image19 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox36 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image20 {
;
}
.p-Home.TextBox38 {
width: 50%;
color: #8d8d8d;
}
.p-Home.TextBox40 {
color: #8d8d8d;
}
.p-Home.Image22 {
;
}
.p-Home.TextBox43 {
color: #8d8d8d;
}
.p-Home.Image25 {
;
}
.p-Home.TextBox44 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
padding-left: ;
}
.p-Home.TextBox45 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8d;
width: 80%;
}
.p-Home.TextBox46 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8d;
width: 80%;
}
.p-Home.Button11 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button12 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox47 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox48 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #727272;
}
.p-Home.Product_Image_1 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Name_1 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_About_1 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Price_1 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_About_2 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Name_2 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_Image_2 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Price_2 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_About_3 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Name_3 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_Image_3 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Price_3 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_About_4 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Name_4 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_Image_4 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Price_4 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_Image_6 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Name_6 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_About_6 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Price_6 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_About_5 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Name_5 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_Image_5 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Price_5 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_Image_8 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Name_8 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_About_8 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Price_8 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Product_Image_7 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.Product_Name_7 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Product_About_7 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-Home.Product_Price_7 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Button13 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox73 {
font-family: DM Sans;
font-weight: 700;
font-size: 38px;
color: #ffffff;
max-width: 80%;
}
.p-Home.TextBox74 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #fffafa;
max-width: 80%;
}
.p-Home.Button15 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button16 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image34 {
width: 100%;
}
.p-Home.TextBox75 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox76 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
color: #727272;
}
.p-Home.Carousel1 {
;
}
.p-Home.Carousel2 {
width: 100%;
height: 100%;
}
.p-Home.Carousel3 {
;
}
.p-Home.Button17 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button18 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox78 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox79 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6f;
}
.p-Home.Image44 {
width: 30px;
height: 30px;
}
.p-Home.Image76 {
width: 30px;
height: 30px;
}
.p-Home.Image77 {
width: 30px;
height: 30px;
}
.p-Home.Image78 {
width: 30px;
height: 30px;
}
.p-Home.Image79 {
width: 30px;
height: 30px;
}
.p-Home.Image40 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox80 {
font-family: DM Sans;
font-weight: 500;
color: #595858;
}
.p-Home.TextBox81 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image74 {
width: 50px;
height: 50px;
background-color: #FF7629;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: ;
padding-right: 5px;
border-radius: 50px;
}
.p-Home.Image75 {
width: 50px;
height: 50px;
background-color: #FF7629;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
padding-left: 5px;
border-radius: 50px;
color: #ffffff;
}
.p-Home.TextBox142 {
;
}
.p-Home.TextBox82 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox83 {
;
}
.p-Home.Image45 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
height: 70%;
}
.p-Home.TextBox84 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #8f8f8f;
padding-left: 20px;
padding-bottom: 30px;
padding-right: 10px;
}
.p-Home.TextBox85 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox86 {
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox96 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox97 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.Image49 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Image51 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox99 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox100 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox102 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.Image52 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.Image53 {
width: 100%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox103 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373;
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
}
.p-Home.TextBox104 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox105 {
font-family: DM Sans;
font-weight: 700;
font-size: 34px;
align-self: auto;
}
.p-Home.TextBox106 {
width: 50%;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #727171;
}
.p-Home.Image54 {
width: 30px;
height: 30px;
}
.p-Home.TextBox107 {
font-family: DM Sans;
font-weight: 500;
color: #717070;
}
.p-Home.Image55 {
width: 30px;
height: 30px;
}
.p-Home.TextBox111 {
font-family: DM Sans;
font-weight: 500;
color: #717070;
}
.p-Home.Image56 {
width: 30px;
}
.p-Home.TextBox112 {
font-family: DM Sans;
font-weight: 500;
color: #717070;
}
.p-Home.Button21 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
width: 40%;
}
.p-Home.TextBox113 {
padding-left: ;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox114 {
;
}
.p-Home.TextBox115 {
;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox116 {
;
}
.p-Home.TextBox117 {
;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox118 {
;
}
.p-Home.TextBox120 {
;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
align-self: auto;
text-align: center;
}
.p-Home.TextBox145 {
font-family: DM Sans;
font-weight: 400;
font-size: 15px;
color: #23d12f;
}
.p-Home.TextBox122 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox121 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #ffffff;
}
.p-Home.Image58 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image59 {
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image60 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image61 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image62 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image63 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image64 {
;
}
.p-Home.TextBox123 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-Home.Image65 {
width: 30px;
height: 30px;
}
.p-Home.Image66 {
width: 30px;
height: 30px;
}
.p-Home.Image67 {
width: 30px;
height: 30px;
}
.p-Home.Image68 {
width: 30px;
height: 30px;
}
.p-Home.Image69 {
width: 30px;
height: 30px;
}
.p-Home.TextBox125 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox126 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox127 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox128 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox129 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox130 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox131 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox133 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox134 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox135 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox136 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox137 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox138 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox139 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox140 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-Home.TextBox141 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-Home.TextBox124 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image70 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image71 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image72 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image73 {
width: 145px;
height: 145px;
border-radius: 25px;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex138.bpt {
column-gap: 30px;
display: none;
	}
	.p-Home.Flex3.bpt {
display: none;
	}
	.p-Home.Menu1.bpt {
display: flex;
	}
	.p-Home.Flex139.bpt {
column-gap: 30px;
flex-direction: column;
background-color: #ffffff;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
row-gap: 7px;
z-index: 5;
	}
	.p-Home.Flex5.bpt {
flex-direction: column;
	}
	.p-Home.Flex7.bpt {
display: none;
	}
	.p-Home.Flex14.bpt {
flex-direction: column;
row-gap: 20px;
	}
	.p-Home.Flex40.bpt {
flex-direction: column;
	}
	.p-Home.Flex57.bpt {
flex-direction: column;
	}
	.p-Home.Flex59.bpt {
flex-direction: column;
	}
	.p-Home.Flex61.bpt {
display: none;
	}
	.p-Home.Flex1.bpt {
padding-left: 150px;
padding-right: 50px;
box-sizing: border-box;
width: 100%;
justify-content: space-between;
	}
	.p-Home.Flex74.bpt {
flex-direction: column;
row-gap: 40px;
align-items: center;
	}
	.p-Home.Flex113.bpt {
flex-direction: column;
row-gap: 40px;
	}
	.p-Home.Flex12.bpt {
width: ;
	}
	.p-Home.Flex26.bpt {
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding-bottom: 150px;
box-sizing: border-box;
width: 100%;
padding-left: ;
	}
	.p-Home.Flex27.bpt {
width: ;
box-sizing: content-box;
justify-content: center;
align-items: flex-end;
position: static;
	}
	.p-Home.Flex29.bpt {
padding-right: ;
position: relative;
	}
	.p-Home.Flex76.bpt {
width: ;
	}
	.p-Home.Flex90.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Flex91.bpt {
width: ;
	}
	.p-Home.Flex92.bpt {
width: 100%;
justify-content: center;
	}
	.p-Home.Flex98.bpt {
position: static;
	}
	.p-Home.Flex117.bpt {
flex-direction: column;
row-gap: 40px;
align-items: center;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.Flex113.bpt {
align-items: center;
	}
	.p-Home.Flex125.bpt {
align-items: flex-start;
	}
	.p-Home.Image56.bpt {
height: 30px;
	}
	.p-Home.Flex11.bpt {
padding-left: ;
padding-right: ;
	}
	.p-Home.Flex12.bpt {
column-gap: 40px;
flex-direction: column;
row-gap: 20px;
align-items: center;
	}
	.p-Home.Flex26.bpt {
padding-bottom: 250px;
padding-left: 0px;
	}
	.p-Home.Flex27.bpt {
padding-left: ;
width: ;
justify-content: center;
flex-direction: column;
padding-bottom: ;
	}
	.p-Home.Flex29.bpt {
right: 0;
top: 0;
bottom: 150px;
position: relative;
left: 0;
	}
	.p-Home.Flex75.bpt {
width: 70%;
	}
	.p-Home.Flex76.bpt {
width: 100%;
	}
	.p-Home.Flex81.bpt {
width: 80%;
	}
	.p-Home.Flex82.bpt {
width: 80%;
	}
	.p-Home.Flex83.bpt {
width: 80%;
	}
	.p-Home.Flex84.bpt {
width: 80%;
	}
	.p-Home.Flex90.bpt {
justify-content: center;
	}
	.p-Home.Flex91.bpt {
padding-left: 0px;
align-items: center;
width: 90%;
	}
	.p-Home.Flex93.bpt {
width: 70%;
	}
	.p-Home.Flex94.bpt {
width: 70%;
	}
	.p-Home.Flex95.bpt {
width: 70%;
	}
	.p-Home.Flex92.bpt {
width: 100%;
justify-content: center;
	}
	.p-Home.Flex98.bpt {
;
	}
	.p-Home.Flex110.bpt {
padding-left: 50px;
padding-right: 50px;
	}
	.p-Home.Flex117.bpt {
padding-left: ;
padding-right: ;
	}
	.p-Home.Flex118.bpt {
align-items: flex-start;
	}
	.p-Home.TextBox106.bpt {
width: 70%;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.Flex1.bpt {
padding-left: 50px;
box-sizing: border-box;
justify-content: space-between;
	}
	.p-Home.Flex6.bpt {
padding-left: 50px;
	}
	.p-Home.Flex11.bpt {
padding-left: ;
padding-right: ;
	}
	.p-Home.Flex12.bpt {
flex-direction: column;
row-gap: 34px;
padding-top: 30px;
	}
	.p-Home.Flex371.bpt {
flex-direction: column;
row-gap: 34px;
	}
	.p-Home.Flex373.bpt {
flex-direction: column;
row-gap: 34px;
	}
	.p-Home.Flex365.bpt {
flex-direction: column;
row-gap: 25px;
	}
	.p-Home.Flex367.bpt {
flex-direction: column;
row-gap: 25px;
	}
	.p-Home.Flex26.bpt {
justify-content: center;
	}
	.p-Home.Flex27.bpt {
padding-left: ;
width: ;
justify-content: flex-start;
align-items: center;
align-content: stretch;
flex-direction: column;
padding-bottom: ;
	}
	.p-Home.Flex29.bpt {
right: 0;
position: relative;
top: 0;
bottom: 200px;
left: 0;
	}
	.p-Home.Flex28.bpt {
width: 70%;
	}
	.p-Home.Flex297.bpt {
flex-direction: column;
	}
	.p-Home.Flex298.bpt {
flex-direction: column;
	}
	.p-Home.Flex299.bpt {
flex-direction: column;
	}
	.p-Home.Flex300.bpt {
flex-direction: column;
	}
	.p-Home.Flex60.bpt {
padding-left: 50px;
	}
	.p-Home.Flex89.bpt {
column-gap: 10px;
	}
	.p-Home.Flex64.bpt {
align-items: center;
padding-left: 30px;
padding-right: 30px;
	}
	.p-Home.Flex71.bpt {
padding-left: 0px;
padding-right: 0px;
align-items: center;
	}
	.p-Home.Flex72.bpt {
padding-left: ;
padding-right: ;
justify-content: space-around;
	}
	.p-Home.Flex74.bpt {
width: 80%;
	}
	.p-Home.Flex75.bpt {
width: 100%;
	}
	.p-Home.Flex76.bpt {
width: 80%;
	}
	.p-Home.Flex77.bpt {
flex-direction: column;
row-gap: 40px;
	}
	.p-Home.Flex81.bpt {
width: 100%;
	}
	.p-Home.Flex82.bpt {
width: 100%;
	}
	.p-Home.Flex85.bpt {
flex-direction: column;
row-gap: 40px;
	}
	.p-Home.Flex83.bpt {
width: 100%;
	}
	.p-Home.Flex84.bpt {
width: 100%;
	}
	.p-Home.Flex90.bpt {
padding-left: ;
	}
	.p-Home.Flex91.bpt {
padding-left: 0px;
width: 70%;
align-items: flex-start;
	}
	.p-Home.Flex93.bpt {
column-gap: 21px;
width: ;
	}
	.p-Home.Flex94.bpt {
width: ;
	}
	.p-Home.Flex95.bpt {
width: ;
	}
	.p-Home.Flex92.bpt {
width: 100%;
padding-left: ;
padding-right: ;
align-items: stretch;
justify-content: center;
	}
	.p-Home.Flex98.bpt {
width: ;
padding-left: 30px;
padding-right: 30px;
	}
	.p-Home.Flex110.bpt {
padding-left: 50px;
padding-right: 50px;
	}
	.p-Home.Flex111.bpt {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
width: 30%;
justify-content: center;
	}
	.p-Home.Flex117.bpt {
padding-left: 0px;
padding-right: 0px;
	}
	.p-Home.Flex118.bpt {
width: 70%;
align-items: center;
	}
	.p-Home.Image19.bpt {
width: 90%;
	}
	.p-Home.TextBox45.bpt {
width: ;
	}
	.p-Home.TextBox46.bpt {
width: ;
	}
	.p-Home.TextBox76.bpt {
width: 70%;
	}
	.p-Home.TextBox82.bpt {
font-size: 24px;
	}
	.p-Home.TextBox106.bpt {
width: ;
	}
	.p-Home.TextBox122.bpt {
font-size: 25px;
	}
	.p-Home.TextBox121.bpt {
font-size: 16px;
	}
	.p-Home.TextBox123.bpt {
width: 60%;
	}
}