.p-menu.Flex203 {
display: flex;
justify-content: space-around;
align-items: center;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
padding-top: 20px;
padding-bottom: 30px;
}
.p-menu.Menu3 {
display: none;
}
.p-menu.Flex198 {
display: flex;
}
.p-menu.Flex201 {
display: flex;
column-gap: 30px;
}
.p-menu.Flex202 {
display: flex;
column-gap: 30px;
align-items: center;
}
.p-menu.Flex199 {
display: flex;
column-gap: 30px;
}
.p-menu.Flex200 {
display: flex;
}
.p-menu.Flex204 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
padding-top: 100px;
}
.p-menu.Flex205 {
display: flex;
column-gap: 20px;
padding-top: 25px;
}
.p-menu.Flex226 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center;
}
.p-menu.Flex223 {
display: flex;
column-gap: 30px;
justify-content: center;
padding-top: ;
padding-bottom: 200px;
}
.p-menu.Flex224 {
display: flex;
column-gap: 25px;
}
.p-menu.Flex215 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex207 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex216 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex208 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex217 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex209 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex218 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex210 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex225 {
display: flex;
row-gap: px;
column-gap: 25px;
}
.p-menu.Flex219 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex211 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex220 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex212 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex221 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex213 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex222 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-menu.Flex214 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
position: relative;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
left: 60px;
top: 60px;
}
.p-menu.Flex227 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 15px;
}
.p-menu.Flex228 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-top: 30px;
}
.p-menu.Flex229 {
display: flex;
column-gap: 25px;
justify-content: space-between;
}
.p-menu.Flex230 {
display: flex;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-menu.Flex231 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
width: 150px;
justify-content: center;
}
.p-menu.Flex232 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
width: 150px;
justify-content: center;
}
.p-menu.Flex233 {
display: flex;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
width: 150px;
justify-content: center;
}
.p-menu.Flex249 {
display: flex;
column-gap: 25px;
justify-content: space-between;
}
.p-menu.Flex245 {
display: flex;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
width: 150px;
justify-content: center;
}
.p-menu.Flex246 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
width: 150px;
justify-content: center;
}
.p-menu.Flex247 {
display: flex;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
width: 150px;
justify-content: center;
}
.p-menu.Flex248 {
display: flex;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
border-style: solid;
border-color: #d1d1d1;
box-sizing: content-box;
width: 150px;
justify-content: center;
}
.p-menu.Flex259 {
display: flex;
padding-top: 200px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
padding-bottom: 50px;
justify-content: space-between;
}
.p-menu.Flex256 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 20px;
}
.p-menu.Flex252 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-menu.Flex250 {
display: flex;
column-gap: 20px;
}
.p-menu.Flex251 {
display: flex;
column-gap: 20px;
}
.p-menu.Flex257 {
display: flex;
}
.p-menu.Flex253 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: ;
padding-right: 5px;
}
.p-menu.Flex254 {
display: flex;
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
align-items: flex-start;
flex-direction: column;
row-gap: 10px;
padding-left: 5px;
padding-right: 5px;
}
.p-menu.Flex258 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
row-gap: 13px;
width: 40%;
}
.p-menu.Flex255 {
display: flex;
column-gap: 10px;
}
.p-menu.TextBox220 {
;
}
.p-menu.TextBox221 {
;
}
.p-menu.TextBox222 {
;
}
.p-menu.TextBox223 {
;
}
.p-menu.TextBox224 {
;
}
.p-menu.Button27 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button28 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.TextBox225 {
;
}
.p-menu.TextBox226 {
;
}
.p-menu.TextBox227 {
;
}
.p-menu.TextBox228 {
;
}
.p-menu.TextBox229 {
;
}
.p-menu.Image117 {
;
}
.p-menu.TextBox230 {
font-family: DM Sans;
font-weight: 700;
font-size: 42px;
}
.p-menu.TextBox231 {
width: 50%;
text-align: center;
}
.p-menu.Button29 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-menu.Button31 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button32 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button33 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button34 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button35 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Button36 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-menu.Image118 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox240 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.TextBox241 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox232 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.TextBox242 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox243 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.Image119 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox233 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.TextBox244 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox245 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.Image120 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox234 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.TextBox246 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox247 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.Image121 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox235 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.Image122 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox248 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.TextBox249 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox236 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.Image123 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox250 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.TextBox251 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox237 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.Image124 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox252 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.TextBox253 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox238 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.TextBox254 {
width: 250px;
height: 50px;
max-height: 100px;
font-family: DM Sans;
font-weight: 500;
color: #686868;
font-size: 16px;
text-align: center;
}
.p-menu.TextBox255 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-menu.Image125 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-menu.TextBox239 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-menu.TextBox256 {
font-family: DM Sans;
font-weight: 700;
font-size: 42px;
}
.p-menu.TextBox257 {
width: 50%;
text-align: center;
}
.p-menu.Image126 {
width: 130px;
}
.p-menu.Image127 {
width: 130px;
}
.p-menu.Image128 {
width: 130px;
}
.p-menu.Image129 {
width: 70px;
}
.p-menu.Image139 {
width: 80px;
box-sizing: content-box;
}
.p-menu.Image140 {
width: 100px;
}
.p-menu.Image141 {
width: 130px;
}
.p-menu.Image142 {
width: 130px;
}
.p-menu.TextBox274 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-menu.Image143 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-menu.Image144 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-menu.Image145 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-menu.Image146 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-menu.TextBox258 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-menu.TextBox259 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox260 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox261 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox262 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox263 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox264 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox265 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox266 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox267 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox268 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox269 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox270 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox271 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox272 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
color: #7f7c7c;
}
.p-menu.TextBox273 {
padding-bottom: 20px;
padding-right: 40px;
font-size: 20px;
}
.p-menu.TextBox275 {
width: 100%;
font-family: DM Sans;
font-weight: 500;
color: #6a6868;
}
.p-menu.Image152 {
;
}
.p-menu.Image147 {
width: 30px;
height: 30px;
}
.p-menu.Image148 {
width: 30px;
height: 30px;
}
.p-menu.Image149 {
width: 30px;
height: 30px;
}
.p-menu.Image150 {
width: 30px;
height: 30px;
}
.p-menu.Image151 {
width: 30px;
height: 30px;
}
@media screen and (max-width: 991px) {
	.p-menu.Flex203 {
		padding-left: 150px;
padding-right: 50px;
box-sizing: border-box;
width: 100%;
justify-content: space-between;
	}
	.p-menu.Menu3 {
		display: flex;
	}
	.p-menu.Flex198 {
		column-gap: 30px;
flex-direction: column;
background-color: #ffffff;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
row-gap: 7px;
z-index: 5;
	}
	.p-menu.Flex201 {
		display: none;
	}
	.p-menu.Flex199 {
		column-gap: 30px;
display: none;
	}
	.p-menu.Flex224 {
		flex-direction: column;
	}
	.p-menu.Flex225 {
		flex-direction: column;
	}
	.p-menu.Flex259 {
		flex-direction: column;
row-gap: 40px;
align-items: center;
	}
}
@media screen and (max-width: 478px) {
	.p-menu.Flex259 {
		padding-left: ;
padding-right: ;
	}
}