/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./app/src/styles.css ***!
  \******************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/form-field.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.form-field_formfield__MkJga {
  border: none;
}
.form-field_formfield__MkJga:active {
  outline: #fcd34d solid 1px;
}
.form-field_formfield__MkJga:focus-visible {
  outline: #fcd34d solid 1px;
}

/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[4].use[2]!./node_modules/@atrilabs/design-system/lib/stylesheets/button.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.button_danger__gr6NE {
  background-color: #be185d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #fdf2f8;
  padding: 0.5rem 1rem;
  border: none;
}

.button_cancel__SU3y5 {
  background-color: #6b7280;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #e5e7eb;
  padding: 0.5rem 1rem;
  border: none;
}

/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************/

/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].oneOf[3].use[2]!./node_modules/@atrilabs/react-component-manifests/src/manifests/Carousel/Carousel.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #364d79;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators button {
  margin: 5px;
  border: none;
  width: 30px !important;
  margin-top: -15px !important;
  position: relative;
  z-index: 1;
  height: 1px;
  transition: width 0.3s ease-in;
}

.indicators button.active {
  color: #fff;
  width: 40px !important;
}

